.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background: whitesmoke;
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: rgb(102, 109, 114);
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTtile {
  font-size: 12px;
  color: lightgrey;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(207, 207, 217);
}

.sidebarIcon {
  margin-right: 5px;
}
